body {
	background: #404040;
	color: white;
	font-family:"Arial", Helvetica, sans-serif;
}

#main_container {
	position: absolute;
	left: 50%;
	width: 800px;
	margin-left: -400px;
}

a {
	color: grey;
	font-style:italic;
}

a img {
	margin-right: 8px;
	border-width: 0px;
	vertical-align: middle;
}

.note {
	color: grey;
	font-style:italic;
}

.centered-header {
	text-align: center;
}